.homeContainer{
    min-height: 50vh;
}


.home{
    background: linear-gradient(45deg,#d862bc,#e59be9,#e59be9);
    height: 30px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
ul{
    font-family:"Fjalla One", sans-serif ;
    margin-left: 20%;
    letter-spacing: 1px;
    display: inline-flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
}
li{
    margin: 0 30%;
    
}
.navbar{
    background-color: rgb(248, 243, 243);
}
li:hover{
    color: white;
    background-color: #d862bc;
    border-radius: 5px;
    
}

 .fjalla-one-regular {
    width: 60%;
    margin-bottom: 7%;
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 2px;
  font-style: normal;
 }
 #handshake{
    margin-top: -5rem;
    transform: scale(0.35);
    margin-bottom: -10rem;
 }
 
 .border{
    margin-top: 2rem;
    background: linear-gradient(45deg,#d862bc,#d862bc,#d862bc);
    display: flex;
    height: 70%;
    flex-direction: row;
    justify-content: space-around;
    
    
 }
 #logs{
    padding: 20px;
    position: relative;
    top:20px;
    height: 4rem;
    width: 4rem;

 }
 .border>div{
    padding: 20px;
    color: rgb(248, 247, 248);
    padding-top: 30px;
    gap: 10px;
    display: flex;
    flex-direction: row;
 }

 .reviews{
    
    margin-top: 4rem;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10rem;
 }

 .review{
    padding: 20px;
    border-radius: 30px;
    background-color: #eedbee;
    height: 16rem;
    width: 25%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
 }
 .review>p{
    
    font-size: larger;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
 }
 .user>img{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    object-fit: cover;
 }
 .user{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }
 .user>div>span{
    color: #d862bc;
    display: block;
    margin-bottom: 5px;
 }
 h2{
    font-family: sans-serif;
    letter-spacing: 2px;
 }